.navbar_bg{

	background-color: #1a38af;

}

.aligned{

	padding-left: 24%;


}

body {

	background-color: #c1bfbf;

}


.container-carousel {

	position: relative;
	width: 100%;
	min-height: 1px;
	max-height: 700px;


}

section {
	padding: 100px 0;

}

h2 {
    text-align: center;
}

.padding {
	padding: 50px 0;

}

.padding-28 {
	padding: 28px 0;

}

.myimg	{
	
	text-align: center;
	max-width: 50%;
}

.myimg_25	{
	
	text-align: center;
	max-width: 25%;
}
